body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: 'Playfair Display', serif;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 3.0em;
}

#hero {
  height: 1200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  
}

.team-icons {
  padding-top: 50px;;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 50%;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.void {
  background-color: #19151A;
}

.olive {
  background-color: #32151F;
}

.plum {
  background-color: #693E4A;
}

.feature-text {
  padding-top: 5%;
  color: #6A3F75;
  vertical-align: middle;
  text-align: center;
}
.bitbigger {
  font-size: 1.2em;
}

.centered { 
  vertical-align: middle;
  text-align: center;
}

.circular-square {
  border-radius: 50%;
}


.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1200px;
  position: fixed;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#hero-mobile {
  display: none;
  background: url("../assets/hero_static.png");
  height: 320px;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-size: 2.0em;
}

p {
  color: #ede0d5;
  font-size: 0.8em;
  line-height: 150%;
  font-family: sans-serif;
}

#hero, .layer {
  min-height: 800px;
}


.layer-bg {
  background-image: url("../assets/layer_1.png");
  background-size: cover;
    
}

.layer-1 {
  background-image: url("../assets/layer_2.png");
  background-size: cover;
}

.layer-2 {
  background-image: url("../assets/layer_3.png");
  background-size: cover;
  
}
.layer-logo {
  background-image: url("../assets/logo.png");
  background-size: cover;
  
}

.layer-3 {
  background-image: url("../assets/layer_4.png");
  background-size: cover;
}

.layer-4 {
  background-image: url("../assets/gif-layer_cut_MidQ.gif");
  background-size: cover;
}



@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }

