body {
  
  background-color: #000000;
  font-family: 'Playfair Display', serif;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 3.0em;
}

#hero {
  height: 1200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  
}

.team-icons {
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
}

.minicontainer {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  
}

.container {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
  
}

.col4 {
  float: left;
  width: 25%;
}

.col3 {
  float: left;
  width: 33%;
}

.void {
  background-color: #000000;
}

.olive {
  background-color: #32151F;
}

.plum {
  background-color: #693E4A;
}

.dusk {
  background-color: #0d0d17;
}

.feature-text {
  padding-top: 5%;
  color: #6A3F75;
  vertical-align: middle;
  text-align: center;
}

#team-feature {
  height: 500px;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  
}



#team-image {
  border: 10px solid #021a40;
  width: 40%;
  margin: 5%;
}

.bitbigger {
  font-size: 1.2em;
}

.centered { 
  vertical-align: middle;
  text-align: center;
}

.circular-square {
  width: 5%;
}

.right40 {
  margin-left: 60%;
}

.left40 {
  margin-right: 60%;
}

.right60 {
  margin-right: 40%;
  position: absolute;
}

.space {
  background: url("../assets/sky.png");
  background-size: cover;
  background-attachment: fixed;
}


.dlbutton{
  margin-top: -10%;
  width: 100%;
  align-content: center;
  text-align: center;
}

#hero-mobile {
  display: none;
  background: url("../assets/hero_static.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-size: 2.0em;
}


h3 {
  margin-bottom: 30px;
  font-family: 'Krona One', sans-serif;
  font-size: 0.80em;
}

p {
  color: #ede0d5;
  font-size: 0.8em;
  line-height: 150%;
  font-family: sans-serif;
}


#footerContents {
  height: 200px;
}

.footercell {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%
}

#hero, .layer {
  max-height: 1000px;
}


.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: -1;
  padding: 0;
  margin: 0; 
}

.layer-bg {
  background-image: url("../assets/layer_1.png");
  background-size: cover;
  background-position: bottom center;
    
}

.layer-1 {
  background-image: url("../assets/layer_2.png"); 
  background-size: cover;
}

.layer-2 {
  background-image: url("../assets/layer_3.png");
  background-size: cover;
  
}
.layer-logo {
  background-image: url("../assets/logo.png");
  background-size: cover;
  
}

.layer-3 {
  background-image: url("../assets/layer_4.png");
  background-size: cover;
}

.layer-4 {
  background-image: url("../assets/gif_layer_MID.gif");
  background-size: 100%;
}


.giant-image-slider {
  position: absolute;
  width: 35%;
  height: 40%;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(../assets/layer_1.png)no-repeat center;
  background-size: cover;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

}
.slide2 {
  background: url(../assets/layer_2.png)no-repeat center;
  background-size: cover;
  animation:fade 8s infinite;
  -webkit-animation:fade2 8s infinite;
}
.slide3 {
  background: url(../assets/layer_3.png)no-repeat center;
  background-size: cover;
  animation:fade 8s infinite;
  -webkit-animation:fade3 8s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  #main-trailer {
    width: 100%;
    height: 60%;
  }
  
  .dlbutton {
    margin-top: 0px;
  }

  #hero-mobile {
    display: block;
  }
  
  .right40 {
    margin-left: 0px;
  }
  
  .right60 {
    margin-right: 0px;
    position: inherit;
  }
  .left40 {
    margin-right: 0px;
  }
  #astronaut {
    display: none;
  }
  
  h1 {
    font-size: 1.0em;
  }
  
  h3 {
    margin-bottom: 10px;
    font-size: 0.3em;
  }
  
  p {
    font-size: 0.4em;
  }
  
  .giant-image-slider {
    display: none;
  }
  
  .circular-square {
    width: 10%;
  }
  
  #team-feature {
    height: 200px;
  }
  
  #team-image {
    border: 3px solid #021a40;
    max-height: 200px;
  }