#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#hero_content {
    width: 100%;
    background-color: black;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

.layer-01 {
   background-image: url("assets/ilu_bg.png");
}
.layer-02 {
   background-image: url("assets/ilu_03.png");
}
.layer-03 {
   background-image: url("assets/ilu_02.png");
}
.layer-04 {
   background-image: url("assets/ilu_man.png");
}
.layer-05 {
   background-image: url("assets/ilu_01.png");
}